<?xml version="1.0" encoding="utf-8"?>
<!-- 
   Hackerspace Bremen Android App - An Open-Space-Notifier for Android
   
   Copyright (C) 2012 Steve Liedtke <sliedtke57@gmail.com>

   This program is free software; you can redistribute it and/or modify it under the terms of the
   GNU General Public License as published by the Free Software Foundation; either version 3 of
   the License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY
   without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See 
   the GNU General Public License for more details.

   You can find a copy of the GNU General Public License on http://www.gnu.org/licenses/gpl.html.

   Contributors:
       Steve Liedtke <sliedtke57@gmail.com>
       Matthias Friedrich <mtthsfrdrch@gmail.com>
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hackerspacebremen">

    <permission
        android:name="de.hackerspacebremen.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission 
        android:name="de.hackerspacebremen.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/Theme.AppCompat.Light"
        android:name=".HackerspaceApplication">
        
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="https"
                    android:host="hackerspacehb.appspot.com"/>
				<data android:scheme="http"
                    android:host="hackerspacehb.appspot.com"/>
				<data android:scheme="hackerspacehb"
                    android:host="hackerspacehb.appspot.com"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SettingActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/settings" >
        </activity>
        

        <receiver
            android:name=".gcm.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="de.hackerspacebremen" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="de.hackerspacebremen.widgets.HackerspaceWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
               android:resource="@xml/widgetprovider" />
        </receiver>
		
        <service android:name=".gcm.GCMIntentService" />
        
        <service android:name=".widgets.DashClockExtensionService"
            android:icon="@drawable/hshb_widget_icon"
            android:label="@string/extension_title"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="2" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                android:value="@string/extension_description" />
        </service>

    </application>

</manifest>